:root {
    --main-color: #f26624;
    --brown-color: #c2ad95;
    --dop-color: #d36c1c;
    --background-color: #f9f7f3;

    --instructions-color: #f2f0ed;

    --white-color: #fff;
    --black-color: #000000;
}